{% extends "layouts/base.html" %}
{% block title %} Projets {% endblock %} 

{% block content %}



    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center py-4">
      <div class="d-block mb-4 mb-md-0">
          <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
              <ol class="breadcrumb breadcrumb-dark breadcrumb-transparent">
                  <li class="breadcrumb-item">
                      <a href="/home.html">
                          <svg class="icon icon-xxs" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6"></path></svg>
                      </a>
                  </li>
                  <li class="breadcrumb-item"><a href="/dashboard.html">Track Target</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Projects</li>
              </ol>
          </nav>
          <h1 class="h4">Mes Projets</h1>
          <p class="mb-0">Trouvez tout vos projets ici.</p>
      </div>
      <div class="btn-toolbar mb-2 mb-md-0">
          <a href="/creer-projet.html" class="btn btn-sm btn-gray-800 d-inline-flex align-items-center">
              <svg class="icon icon-xs me-2" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
              Nouveau Projet
          </a>
          <div class="btn-group ms-2 ms-lg-3">
              <button type="button" class="btn btn-sm btn-outline-gray-600">Share</button>
              <button type="button" class="btn btn-sm btn-outline-gray-600">Export</button>
          </div>
      </div>
  </div>



  {% if projets %}



  <div class="card card-body border-0 shadow table-wrapper table-responsive">
    <form method="get">
        <div class="input-group mb-3">
            <input type="text" name="q" class="form-control" placeholder="Rechercher dans vos projets">
            <button type="submit" class="btn btn-outline-gray-600" id="button-addon2">Rechercher</button>
        </div>
    </form>
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">#</th>
                  <th class="border-gray-200">Nom Projet</th>           
                  <th class="border-gray-200">Description</th>
                  <th class="border-gray-200">Créateur</th>
                  <th class="border-gray-200">Membres</th>
                  <th class="border-gray-200">Action</th>
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              {% for projet in projets %}
              {% if request.user in projet.membres.all or request.user == projet.createur %}
              <tr>
                  <td>
                      <a href="{% url 'projet-fiche' projet.id %}" class="fw-bold">
                          {{ projet.id }}
                      </a>
                  </td>
                  <td>
                    <a href="{% url 'projet-fiche' projet.id %}" class="fw-bold">
                      <span class="fw-normal">{{ projet.nom }}</span>
                    </a>
                  </td>
                  <td><span class="fw-normal">{{ projet.description }}</span></td>                        
                  <td><span class="fw-normal">{{ projet.createur }}</span></td>
                  <td><span class="fw-bold">{% for membre in projet.membres.all %}{{ membre.username }}{% if not forloop.last %}, {% endif %}{% endfor %}</span></td>
                  
                  <td><span class="fw-bold"> 
                    <a href="{% url 'update-projet' projet.id %}" title="Modifier"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg> </a>
                    <a href="{% url 'delete-projet' projet.id %}" title="Supprimer"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#b40000" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                        </svg> </a>
                    <a href="{% url 'projet-fiche' projet.id %}" title="Voir"> 
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                        </svg> </a>
                    </span></td>

              </tr>
              {% endif %}
              {% endfor %}

                                              
          </tbody>
      </table>

      <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
        <nav aria-label="Page navigation example">
          <ul class="pagination mb-0">
              {% if projets.has_previous %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ projets.previous_page_number }}">Previous</a>
              </li>
              {% endif %}
          
              {% for num in projets.paginator.page_range %}
                  {% if projets.number == num %}
                  <li class="page-item active">
                      <a class="page-link" href="#">{{ num }}</a>
                  </li>
                  {% else %}
                  <li class="page-item">
                      <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                  </li>
                  {% endif %}
              {% endfor %}
          
              {% if projets.has_next %}
              <li class="page-item">
                  <a class="page-link" href="?page={{ projets.next_page_number }}">Next</a>
              </li>
              {% endif %}
          </ul>
          
        </nav>
        <div class="fw-normal small mt-4 mt-lg-0">Page <b>{{ projets.number }}</b> sur <b>{{ projets.paginator.num_pages }}</b> pages</div>



    </div>
</div>










    <!--
    <ul>
    {% for projet in projets %}
        <li><a href="{% url 'projets' projet.pk %}">{{ projet.nom }}</a></li>
        {% for projet in projets %}
  <div class="projet">
    <h2>{{ projet.nom }}</h2>
    <p>{{ projet.description }}</p>
    <p><strong>Créateur:</strong> {{ projet.createur }}</p>
    <p><strong>Membres:</strong> {{ projet.membres }}</p>
  </div>
        {% endfor %}
    {% endfor %}
    </ul>    
    -->





  {% else %}
    <p>Vous ne participez à aucun projet.</p>



<div class="card card-body border-0 shadow table-wrapper table-responsive">
      <table class="table table-hover">
          <thead>
              <tr>
                  <th class="border-gray-200">#</th>
                  <th class="border-gray-200">Nom Projet</th>           
                  <th class="border-gray-200">Description</th>
                  <th class="border-gray-200">Créateur</th>
                  <th class="border-gray-200">Membres</th>
                  <th class="border-gray-200">Date Création</th>
              </tr>
          </thead>
          <tbody>
              <!-- Item -->
              


                                              
          </tbody>
      </table>
      <div class="card-footer px-3 border-0 d-flex flex-column flex-lg-row align-items-center justify-content-between">
          <nav aria-label="Page navigation example">
              <ul class="pagination mb-0">
                  <li class="page-item">
                      <a class="page-link" href="#">Previous</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">1</a>
                  </li>
                  <li class="page-item active">
                      <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">3</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">4</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">5</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" href="#">Next</a>
                  </li>
              </ul>
          </nav>
          <div class="fw-normal small mt-4 mt-lg-0">Showing <b>5</b> out of <b>25</b> entries</div>
      </div>
  </div>




  {% endif %}
{% endblock %}
